


.post-card {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 10px;
}

.post-card-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "a b b c";
    place-items: center;
}

.post-card-svgs {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.post-card-svgs > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}