


.user-container {
    font: 1em sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.user-container img {
    height: 30px;
    border-radius: 50%;
}