.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.profile-header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.profile-header .user-container {
    flex: 1;
    min-width: 200px;
}

.profile-state {
    width: 80%;
    text-align: left;
}
