
#user-account-modal-container {
    width: 100px;
    height: 50px;
    bottom: -25px;
    right: 46px;

}

#user-account-modal {
    padding: 5px;
    width: 100px;
    height: 50px;
    border-width: 1px;
    border-radius: 10px;
}