.post-svgs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.post-svgs > img {
    width: 20px;
    height: 20px;
}

.post-adder-form {
    width: 100%;
    height: 100%;
}

.post-adder-textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.post-adder-footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-content {
    width: 100%;
}

#visible-checkbox {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 40%;
}

.post-card-button {
    width: 60%;
}

.post-modal-comment-section {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}