

#posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.post-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-user > img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.post-published {
    /* align-self: flex-end; */
}