
#post-modal {
    display: flex;
    flex-direction: column;
}

#post-modal > div {
    max-width: 300px;
    min-width: 200px;
    height: 80%;
}

.post-modal-footer {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.post-modal-comment-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}